.models--actions {
  @extend .mb-3;
}

.button-actions {
  .btn,
  form {
    display: inline-block;
  }
}

.btn {
  color: #ffffff;
  &.btn-info {
    color: #ffffff;
  }
}

.disclaimer {
  line-height: 1;
}